<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="leftcol">
        <div class="annabox">
          <a href="/">
            <img id="lilpic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Suprematist_Composition_-_Kazimir_Malevich.jpg/1280px-Suprematist_Composition_-_Kazimir_Malevich.jpg">
          </a>
          <a href="https://twitter.com/annasofialesiv">@annasofialesiv 🪴</a>
          <p class="descript">dispatches from decentraland</p>
        </div>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
